<launch>
  <arg name="map" value="icra2019"/>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find roborts_bringup)/maps/$(arg map).yaml" respawn="false" />
 
  <!-- Run the stage simulator -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find roborts_bringup)/worlds/$(arg map)-multi.world" respawn="false">
    <remap from="/robot_0/base_scan" to="/robot_0/scan" />
    <remap from="/robot_1/base_scan" to="/robot_1/scan" />
    <param name="base_watchdog_timeout" value="0.01" />
  </node>

  <include file="$(find roborts_bringup)/launch/roborts_multi_base.launch">
    <arg name="robot_name" value="robot_0" />
    <arg name="initial_pose_x" value="7.5"/>
    <arg name="initial_pose_y" value="0.5"/>
  </include>

  <include file="$(find roborts_bringup)/launch/roborts_multi_base.launch">
    <arg name="robot_name" value="robot_1" />
    <arg name="initial_pose_x" value="0.5"/>
    <arg name="initial_pose_y" value="0.5"/>
  </include>
  <node ns="robot_0" name="decision_tree" pkg="roborts_decision" type="hop_decision_node" output="screen"/>
  <node ns="robot_1" name="decision_tree" pkg="roborts_decision" type="hop_decision_node" />
  <!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts_bringup)/rviz/roborts-multi.rviz" />
</launch>
